#w-d-dashboard {
    padding: 20px;
}

#w-d-dashboard-title {
    font-size: 2em;
    font-weight: bold;
}

#w-d-dashboard-published {
    font-size: 1.5em;
}

#w-d-dashboard-courses {
    margin-top: 20px;
}

.wd-dashboard-course {
    margin-bottom: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
