#wd-courses {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.course-title {
    margin-top: 20px;
    font-size: 2rem;
}

.courses-container {
    display: flex;
    flex-direction: row;
}

.courses-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #e8f4fc;
    min-height: 100vh;
}

.courses-sidebar {
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    height: 100vh; /* Full height to match sidebar */
}

.courses-sidebar a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.courses-sidebar a:hover {
    background-color: #f1f1f1;
}

.courses-sidebar a .icon {
    margin-right: 10px;
    color: red; /* Icon color */
}

.courses-sidebar a:hover .icon {
    color: darkred; /* Hover icon color */
}

.courses-sidebar a.active {
    background-color: red;
    color: white;
}

.courses-sidebar a.active .icon {
    color: white;
}

#assignments-section {
    display: flex;
    flex-direction: column;
}

#assignments-section input,
#assignments-section select,
#assignments-section .btn {
    margin-bottom: 10px;
}

#assignments-section .assignment-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#assignments-section .assignment-group input[type="checkbox"] {
    margin-right: 10px;
}
