.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #343a40;
    color: white;
    padding-top: 20px;
}

.sidebar a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.sidebar a:hover {
    background-color: #495057;
}

.icon {
    margin-right: 10px;
    font-size: 1.5em;
    vertical-align: middle;
}
